/*
style.css
---------
Exercice pour le cours "Design de SIG"
Par Benoît CORDAY
*/

*
{
  font-family: "Verdana";
}

body
{
  background-color: rgb(186,186,186); /* Le fond de la page sera gris */
  height: 100%;
  width: 100%;
}

#OurMap
{
  height:100%
}

#OurLegend
{
  height: 20em;
  width: 10em;
  position: absolute;
  top: 6em;
  left: 2em;
  background-color: rgb(200,200,200);
  box-shadow: 2px 2px 2px rgb(0,0,0);
}

#OurLegendTitle
{
  background-color: rgb(50,50,255);
  height: 15%;
  width: 90%;
  font-size: 2em;
  text-align: center;
  color: rgb(200,200,200);
  position: absolute;
  top: 5%;
  left: 5%;
  box-shadow: 2px 2px 2px rgb(0,0,0);
}

#OurLegendContent
{
  background-color: rgb(230,230,255);
  height: 70%;
  width: 90%;
  font-size: 1em;
  color: rgb(0,0,0);
  position: absolute;
  top: 25%;
  left: 5%;
  box-shadow: 2px 2px 2px rgb(0,0,0);
}
