<style>
p
{
  color: red;
  font-size: 3em;
}
.img
{
  height: 1em;
  width: 1em;
}
</style>
<p>Nous avons le regret de vous annoncer qu'il y a un bug.. <img src="images/error.png" alt="Error" class='img'></p>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
