/*
style.css
---------
Exercice pour le cours "Design de SIG"
Par Benoît CORDAY
*/

*
{
  font-family: "Verdana";
}

h1
{
  color: rgb(0,0,0);
  text-align: center;
  vertical-align:middle;
  font-weight: bold;
  font-size: 250%;
}

a
{
  color: rgb(0,100,100);
  background-color: yellow;  
}

a:hover
{
  color: yellow;
  background-color: rgb(0,100,100);
}
/* fond de page gris
body
{
  background-color: rgb(186,186,186);
  height: 100%;
  width: 100%;
}
*/
/* remplacé par */
body
{
  background-color: rgb(186,186,186); /* Le fond de la page sera gris */
  display: -webkit-flex;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

#logo, #imageHeader
{
  height: 2.5em;
  border-radius: 5px;
}

#mainTitle
{
  margin : auto;
  font-weight: bold;
  font-size: 1em;
  color: rgb(0,100,100);
}

#OurMap
{
  align-self:center;
  box-shadow: 2px 2px 2px rgb(0,0,0);
  border-radius: 5px;
  width:100%;
  height:25em;
  background-color: rgb(230,230,230);
  margin-top: 10px;
  margin-bottom: 10px;
  padding:5px;
  display: inline-flex;
  justify-content: space-between;
}

#OurLegend
{
  height: 20em;
  width: 10em;
  position: absolute;
  top: 6em;
  left: 2em;
  background-color: rgb(255,255,255);
  box-shadow: 2px 2px 2px rgb(0,0,0);
  border-radius: 5px;
}

#OurLegendTitle
{
  background-color: rgb(50,50,255);
  height: 15%;
  width: 90%;
  font-size: 2em;
  text-align: center;
  color: rgb(255,255,255);
  position: absolute;
  top: 5%;
  left: 5%;
  box-shadow: 2px 2px 2px rgb(0,0,0);
  border-radius: 5px;
}

#OurLegendContent
{
  background-color: rgb(220,220,220);
  height: 70%;
  width: 90%;
  font-size: 1em;
  color: rgb(0,0,0);
  position: absolute;
  top: 25%;
  left: 5%;
  box-shadow: 2px 2px 2px rgb(0,0,0);
  border-radius: 5px;
}
