/*
style.css
---------
Exercice pour le cours "Design de SIG"
Par Benoît CORDAY et René LUGRIN
*/

*
{
  font-family: "Verdana";
}

h1
{
  color: rgb(0,0,0);
  text-align: center;
  vertical-align:middle;
  font-weight: bold;
  font-size: 250%;
}

a
{
  color: rgb(0,100,100);
  background-color: yellow;
}

/*a:hover
{
  color: yellow;
  background-color: rgb(0,100,100);
}/*
/* fond de page gris
body
{
  background-color: rgb(186,186,186);
  height: 100%;
  width: 100%;
}
*/
/* remplacé par */
body
{
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: rgb(200,200,200); /* Le fond de la page sera gris */
  display: -webkit-flex;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
}

/* header and footer*/
  #header
  {
    top: 0px;
    left: 0px;
  }
  #footer
  {
    bottom: 0px;
    left: 0px;
  }
  #header, #footer
  {
    position: absolute;
    align-self:center;
    /*height:2.5em;*/
    width:100%;
    background-color: rgba(255,255,255,0.85);
    /*border-radius: 0px;*/
    box-shadow: 0px 0px 2px 2px rgb(0,50,50);
    text-align: center;
    overflow: hidden;
    display: inline-flex;
    /*padding:0px;*/
    justify-content: space-between;
    /*opacity: 0.5;*/
  }

/* header content */
  #logo, #imageHeader
  {
    height: 2.5em;
    border-radius: 0px;
  }
  #mainTitle
  {
    margin : auto;
    font-weight: bold;
    font-size: 1em;
    color: rgb(0,100,100);
  }


/*  */
  #content
  {
    align-self:center;
    /*border-radius: px;*/
    /*box-shadow: 0px 2px 2px rgb(0,50,50);*/
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    /*height:25em;*/
    background-color: rgb(230,230,230);
    margin: 0px;
    padding:0px;
    display: inline-flex;
    justify-content: space-between;
  }
/* map container*/
  #OurMap
  {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0,100,100);
    margin: 0;
    /*padding: 0px;*/
  }

/* Global pannel including legend and attribute table */
  .Windows
  {
    height: 20em;
    width: 16em;
    position: absolute;
    left: 5px;
    background-color: rgba(255,255,255,0.4);
    box-shadow: 2px 2px 2px rgb(0,0,0);
  }

#OurLegend
{
  top: 10.5em;
}

#OurInteraction
{
  top: 31em;
  visibility: hidden;
  word-wrap: break-word;
}

  #EditorOption
  {
    background-color: rgba(255,255,255,0.4);
    position: absolute;
    top: 3.3em;
    left: 7em;
    height: 6.7em;
    width: 9em;
    visibility: hidden;
    box-shadow: 2px 2px 2px rgb(0,0,0);
    z-index: 10000;
  }

/* for what? */
  .WindowsTitle
  {
    background-color: rgb(0,100,100);
    height: 12%;
    width: 96%;
    font-size: 2em;
    text-align: center;
    color: rgb(255,255,255);
    position: absolute;
    top: 2%;
    left: 2%;
    box-shadow: 2px 2px 2px rgb(0,0,0);
  }

  #OurLegendTitle{}
  #BridgeInfosTitle{}

/* legend and attribute table */
  .WindowsContent
  {
    background-color: rgba(255,255,255,0.8);
    height: 82%;
    width: 96%;
    font-size: 1em;
    color: rgb(0,0,0);
    position: absolute;
    top: 15%;
    left: 2%;
    box-shadow: 2px 2px 2px rgb(0,0,0);
  }

#OurLegendContent
{
  height: 82%;
}

#BridgeInfosContent
{
  height: 76%;
  overflow: scroll;
}

#options-form
{
}

/* all buttons*/
  .OurButton
  {
    height: 1.5em;
    width: 1.5em;
    position: absolute;
    top: 8.5em;
    background-color: rgb(230,230,230);
    box-shadow: 2px 2px 2px rgb(0,0,0);
    border-radius: 0px;
  }

  #OurButtonLegend
  {
    left: 1.2em;
  }

  #OurButtonEdit
  {
    left: 2.8em;
  }

  .ButtonImg
  {
    height:inherit;
    width:inherit;
  }

  #cancelButton, #saveButton
  {
    position: absolute;
    bottom : 2%;
  }

  #cancelButton
  {
    left : 2%;
  }

  #saveButton
  {
    right : 2%;
  }

/* text at page bottom */
  #author
  {
    align-self:center;
    font-size: 50%;
    font-style: italic;
    color: rgb(100,100,100);
  }
