<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>I'm really happy to see you here my dear René !</p>
    <p>Oh yeah, but I do not see you, you are well hidden!</p>
    <a href="./map">Go to the map</a> 
  </body>
</html>
