<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/styleIndex.css' />
  </head>
  <body>
    <div id='bloccenter'>
      <h1 id='mainTitle'><%= title %></h1>
      <p>Bienvenue sur le <%= title %></p>
      <p>Pour accéder à la carte, merci d'utiliser le lien ci-dessous.</p>
      <a href="/map">Aller à la carte</a>
    </div>
  </body>
</html>
