<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://openlayers.org/en/v4.4.2/css/ol.css" type="text/css">
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://openlayers.org/en/v4.4.2/build/ol.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type='text/javascript' src="/javascripts/mapEngine.js"></script>
    <script src="/javascripts/size.js"></script>
  </head>
  <body onresize="size()">

<!-- logo, titre, image -->
    <div id="header">
      <img src="images/logo-epfl.png" alt="Logo" id="logo">
      <div id="mainTitle">SIG Burkina Faso</div>
      <img src="images/photoBurkinaFaso.jpg" alt="Logo" id="imageHeader">
    </div>
<!-- carte + légende -->
<div id='content'>
    <div id='OurMap' class='map'>
    </div>

    <div id='OurLegend'>
      <div id='OurLegendTitle'>
        Legend
      </div>
      <div id='OurLegendContent'>
        <form>
          <input type="checkbox" id="roadlinesCheck" onclick="setVisibleLayers()" checked> Roadlines <br>
          <input type="checkbox" id="regionsCheck" onclick="setVisibleLayers()" checked> Regions<br>
        </form>
      </div>
    </div>
  </div>
<!-- insérer pied de page -->
    <div id="footer">
      <div id="author"> B. CORDAY & R. LUGRIN - Design de SIG - V 37'643 </div>
    </div>
  </body>
</html>
